{% extends 'base.html' %}
{% load static %}



{% block static_files %}  

<link rel="stylesheet" href="{% static 'account/form.css' %}">

{% endblock static_files %}  



{% block page_content %}


<form  method="post">
{% csrf_token %}

  <div class="mcontainer">
        {{form.as_p}}

    <button class="mybutton" type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
        <span class="psw">Forgot <a href="#">password?</a></span>

  </div>


</form>

{% endblock page_content %}



